!
version 15.2
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service compress-config
no service dhcp
!
hostname {{ item.site_prefix }}-vsa-{{ item.local_id }}
!
boot-start-marker
boot system switch all flash:cat3k_caa-universalk9.SPA.03.07.02.E.152-3.E2.bin
boot system switch all flash:
boot-end-marker
!
!